<%- include('partials/header') %>
<%- include('partials/navbar') %>


<h1>Articles, the Written Art</h1>

<h3>Make the desired category by going to <a href="/category/new">Add Category</a></h3>
<h3>Write your articles <a href="/articles/new">here</a></h3>




<%- include('articles-grid') %>

<%- include('partials/footer') %>